.defaultBorder {
  border: 1px solid #c2bebeb5;
  border-radius: 3px;
}

.form-label {
  font-size: 12px;
  color: #514646b5;
  margin-bottom: 0px;
}

.form-input {
  font-size: 12px;
  color: #000000b5;
}

.ant-form-item {
  margin-bottom: 0px;
}

.defaultButton {
  font-size: 12px;
  border-radius: 3px;
}
